p, label, li {
    color: white;
}

@layer utilities {
    .scrollbar {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #364153;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #364153;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #20293a;
    }
}