{% extends "base.html" %}

{% block title %}
    <title>{{ chatroom.name }}</title>
{% endblock %}

{% block style %}
<style>
.list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
</style>
{% endblock %}

{% block content %}
    {#  TODO: fix scrollbar #}
    <div class="hidden"></div>
    <div class="grow flex-col items-stretch rounded">
        <div class="mb-0 rounded-t bg-slate-700 py-2 pl-3 flex justify-between">
            <h1 class="text-lg text-2xl font-bold text-slate-50">{{ chatroom.name }}</h1>
            <a href="{% url 'chat-update' name=chatroom.name %}" class="rounded bg-slate-600 px-2 py-2 font-bold text-slate-50 hover:bg-slate-500 mr-2">Edit</a>
        </div>
        <div id="chat-content-wrapper" class="flex grow flex-col items-stretch bg-slate-800 scrollbar">
            <div class="flex justify-center py-3">
                <button id="load-msg" type="button"
                        class="rounded bg-slate-600 px-2 py-2 font-bold text-slate-50 hover:bg-slate-700">Load more
                    messages
                </button>
            </div>
            <ol id="chat-content" class="list-none p-3 list-group"></ol>
        </div>
        <div class="mb-3 flex rounded">
            <input id="chat-input" type="text" class="grow rounded-l" placeholder="Type your message here"
                   aria-label="" aria-describedby="">
            <input id="chat-submit"
                   class="rounded-r bg-slate-600 px-2 py-2 font-bold text-slate-50 hover:bg-slate-700" type="button"
                   value="Send">
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ chatroom.id|json_script:"chatroom_id" }}
    <script>
        const chatId = JSON.parse(document.getElementById('chatroom_id').textContent);
        const chatContent = document.querySelector("#chat-content")
        const chatContentWrapper = document.querySelector("#chat-content-wrapper")
        const chatInput = document.querySelector('#chat-input');
        chatInput.disabled = true
        const loadMsgBtn = document.querySelector('#load-msg');
        loadMsgBtn.style.display = "none"

        const chatSocket = new WebSocket(
            `${(window.location.protocol === 'https:') ? 'wss://' : 'ws://'}${window.location.host}/ws/chat/${chatId}/`
        );

        chatSocket.onopen = function (e) {
            chatInput.disabled = false
            loadMsgBtn.style.display = "block"
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.type === 'load_msg') {
                console.log(data.message.length)
                if (data.message.length === 0) {
                    loadMsgBtn.style.display = "none"
                } else {
                    {#console.log(data.message.reverse()[0]["msg"])#}
                    data.message.reverse().forEach((item, index) => {
                        console.log(item)
                        let chatItem = document.createElement("li")
                        chatItem.append(item['msg'])
                        chatItem.className = "bg-slate-600 text-slate-50 px-2 py-1 list-group-item"
                        chatItem.dataset.msgId = item['id']
                        chatContent.insertBefore(chatItem, chatContent.firstChild)

                    })

                    chatContentWrapper.scrollTop = 0
                }
            } else {
                let chatItem = document.createElement("li")
                chatItem.append(data.message)
                chatItem.className = "bg-slate-600 text-slate-50 px-2 py-1 list-group-item"
                chatItem.dataset.msgId = data.msgId

                chatContent.appendChild(chatItem)
                chatContentWrapper.scrollTop = chatContentWrapper.scrollHeight;
            }
        };

        chatSocket.onclose = function (e) {
            chatInput.disabled = true
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-input').focus();
        document.querySelector('#chat-input').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-submit').click();
            }
        };

        loadMsgBtn.onclick = function (e) {
            const firstId = document.querySelector("#chat-content").firstChild
            console.log(`firstId: ${firstId ? firstId.dataset.msgId : 9999}`)

            chatSocket.send(JSON.stringify({
                'load_msg': true,
                'before_id': firstId ? firstId.dataset.msgId : 9999,
                'message': ""
            }));
        };

        document.querySelector('#chat-submit').onclick = function (e) {
            const message = chatInput.value.trim();
            if (message !== "") {
                chatSocket.send(JSON.stringify({
                    'load_msg': false,
                    'before_id': 0,
                    'message': message
                }));
                chatInput.value = '';
            }
        };
    </script>
{% endblock %}