{% extends "base.html" %}

{% block title %}<title>Create new chat</title>{% endblock %}

{% block content %}
    <div class="flex flex-col items-center">
        <p class="text-2xl text-center py-3">Create new chat:</p>
        <div class="max-w-lg rounded overflow-hidden shadow-lg bg-slate-600 w-80 m-3 px-4 py-3">
            <form action="{% url 'chat-update' name=name %}" method="post">
                {% csrf_token %}
                {{ form.name.help_text }}
                <div class="mb-3 flex flex-col">
                    {% if form.name.errors %}
                        <ol>
                            {% for error in form.name.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <div class="input-group my-1">
                        <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Your
                            Email</label>
                        <div class="relative">
                            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            </div>
                            <input type="text" id="search" value="{{ form.name.value }}"
                                   class="block p-4 w-full text-sm rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   name="name" placeholder="Chat name" pattern="[0-9A-Za-z_-]{3,}" required>

                            <label for="message"
                                   class="block mt-3 pl-1 mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Summary</label>
                            <textarea id="message" rows="4" name="summary"
                                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Summary of the chat...">{{ form.summary.value }}</textarea>

                        </div>
                    </div>
                    <div class="flex items-center mb-2">
                        <div class="grow">
                            <input {% if form.public.value %} checked {% endif %} id="public-checkbox" type="checkbox" value="public" name="public"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="public-checkbox"
                                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Public?</label>
                        </div>
                    </div>
                    <button type="submit"
                            class="self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.querySelector('#room-id-input').focus();
        document.querySelector('#room-id-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // 13: enter
                document.querySelector('#room-id-input').click();
            }
        };
    </script>
{% endblock %}